{% extends "base.html" %}

{% block content %}
  <div class="whanau-page-title"></div><h1>Whānau Groups</h1>
  </div>

  <br>

  <!-- Whānau colour labels -->
  <div class="whanau-row">
    <span class="whanau-pill whanau-red">Red</span>
    <span class="whanau-pill whanau-yellow">Yellow</span>
    <span class="whanau-pill whanau-green">Green</span>
    <span class="whanau-pill whanau-blue">Blue</span>
    <span class="whanau-pill whanau-purple">Purple</span>
    <span class="whanau-pill whanau-orange">Orange</span>
  </div>

  <hr>

  <!-- Red Whānau -->
  <h1 class="whanau-title whanau-red">Red Whānau</h1>
  
  <div class="whanau-row">
    <div class="avatar whanau-red">HR</div>
    <div class="avatar whanau-red">NA</div>
    <div class="avatar whanau-red">TH</div>
    <div class="avatar whanau-red">TT</div>
  </div>
  
  <!-- Yellow Whānau -->
  <h1 class="whanau-title whanau-yellow">Yellow Whānau</h1>
  
  <div class="whanau-row">
    <div class="avatar whanau-yellow">KL</div>
    <div class="avatar whanau-yellow">MN</div>
    <div class="avatar whanau-yellow">OP</div>
    <div class="avatar whanau-yellow">QR</div>
    <div class="avatar whanau-yellow">ST</div>
  </div>

  <!-- Green Whānau -->
  <h1 class="whanau-title whanau-green">Green Whānau</h1>
  
  <div class="whanau-row">
    <div class="avatar whanau-green">EK</div>
    <div class="avatar whanau-green">NO</div>
    <div class="avatar whanau-green">TT</div>
    <div class="avatar whanau-green">WK</div>
  </div>

  <!-- Blue Whānau -->
  <h1 class="whanau-title whanau-blue">Blue Whānau</h1>
  
  <div class="whanau-row">
    <div class="avatar whanau-blue">JD</div>
    <div class="avatar whanau-blue">SD</div>
    <div class="avatar whanau-blue">TA</div>
    <div class="avatar whanau-blue">TK</div>
  </div>

  <!-- Purple Whānau -->
  <h1 class="whanau-title whanau-purple">Purple Whānau</h1>
  
  <div class="whanau-row">
    <div class="avatar whanau-purple">TV</div>
    <div class="avatar whanau-purple">TM</div>
    <div class="avatar whanau-purple">TH</div>
    <div class="avatar whanau-purple">UU</div>
  </div>

  <!-- Orange Whānau -->
  <h1 class="whanau-title whanau-orange">Orange Whānau</h1>
    
  <div class="whanau-row">
    <div class="avatar whanau-orange">NN</div>
    <div class="avatar whanau-orange">OO</div>
    <div class="avatar whanau-orange">PP</div>
    <div class="avatar whanau-orange">QQ</div>
  </div>
{% endblock %}

