{% extends "base.html" %}
{% block content %}
  <h2>Whānau groups</h2>
  <p>Colour-coded groups (prototype):</p>
  <div class="whanau-row">
    <span class="whanau-pill whanau-red">Red</span>
    <span class="whanau-pill whanau-yellow">Yellow</span>
    <span class="whanau-pill whanau-green">Green</span>
    <span class="whanau-pill whanau-blue">Blue</span>
    <span class="whanau-pill whanau-purple">Purple</span>
  </div>
  <br>
  <h1>Purple</h1>
  <div class="whanau-row" {align=center style="justify-content: center;"}></div>
    <div class="avatar whanau-purple">AB</div>
    <div class="avatar whanau-purple">CD</div>
    <div class="avatar whanau-purple">EF</div>
    <div class="avatar whanau-purple">GH</div>
    <div class="avatar whanau-purple">IJ</div>
    <div class="avatar whanau-purple">KL</div>
    <div class="avatar whanau-purple">MN</div>
    <div class="avatar whanau-purple">OP</div>
    <div class="avatar whanau-purple">QR</div>
    <div class="avatar whanau-purple">ST</div>
{% endblock %}
